.{
 font-family: Verdana;
 font-size: 9pt;
}

table.sub_sidebar{
 border-top: 1px solid rgb(192,192,192);
 border-bottom: 1px solid rgb(192,192,192);
 border-left: 1px solid rgb(192,192,192);
 border-right: 1px solid rgb(192,192,192);
}

td.sidebar_link a{
 border-top: 1px solid #EBEBEB;
 border-bottom: 1px solid #EBEBEB;
 border-left: 1px solid #EBEBEB;
 border-right: 1px solid #EBEBEB;
 background-color:#EBEBEB;
 padding-left: 1px;
 padding-right: 1px;
 padding-top: 0px;
 padding-bottom: 0px;
 width:150px;
 font-family: Verdana;
 font-weight: bold;
 font-size: 8pt;
 color:rgb(0,53,126)/*#666666*/;
 text-decoration: none;
 display:block;
}
td.sidebar_link a:hover{
 border-top: 1px solid #808080;
 border-bottom: 1px solid #808080;
 border-left: 1px solid #808080;
 border-right: 1px solid #808080;
 background-color: #cccccc/*rgb(0,53,127)*/;
 padding-left: 1px;
 padding-right: 1px;
 padding-top: 0px;
 padding-bottom: 0px;
 width:150px;
 font-family: Verdana;
 font-weight: bold;
 font-size: 8pt;
 color:#666666/*#ffffff*/;
 text-decoration: none;
 display:block;
}
td.sidebar_header{
 background-color:rgb(0,53,126);/*rgb(192,192,192);*/
 /*
 border-left: thin solid rgb(192,192,192); 
 border-right: thin solid rgb(0,0,0); 
 border-top: thin solid rgb(192,192,192); 
 border-bottom: thin solid rgb(0,0,0);
 */
 padding-left: 2px;
 padding-right: 2px;
 padding-top: 2px;
 padding-bottom: 2px;
 width:150px;
 font-family: Verdana;
 font-weight: bold;
 font-size: 9pt;
 color:#cccccc;
 text-decoration: none;
 text-align: center;
}

td.field{
background-color:#ffffff;
color:#000000;
font-family:Arial;
font-size:9pt;
padding:4px;
}

h1{
 border-top: 1px solid #808080;
 border-bottom: 1px solid #808080;
 border-left: 1px solid #808080;
 border-right: 1px solid #808080;
 width:100%;
 padding-top:3px;
 padding-bottom:3px;
 background-color:#cccccc;
 font-family: Verdana;
 font-weight: bold;
 font-size: 12pt;
 color:#808080;
 text-align: center;
 display:block;
}
h2{
 border-top: 1px solid #808080;
 border-bottom: 1px solid #808080;
 border-left: 1px solid #808080;
 border-right: 1px solid #808080;
 width:100%;
 padding-top:2px;
 padding-bottom:2px;
 background-color:#cccccc;
 font-family: Verdana;
 font-weight: bold;
 font-size: 10pt;
 color:#808080;
 text-align: center;
}

h3{
 border-top: 1px solid #808080;
 border-bottom: 1px solid #808080;
 border-left: 1px solid #808080;
 border-right: 1px solid #808080;
 width:100%;
 padding-top:1px;
 padding-bottom:1px;
 margin-top:10px;
 margin-bottom:3px;
 background-color:#cccccc;
 font-family: Verdana;
 font-weight: bold;
 font-size: 8pt;
 color:#808080;
 text-align: center;
 display:block;
}

td.list_link a{
 border-top: 1px solid #EBEBEB;
 border-bottom: 1px solid #EBEBEB;
 border-left: 1px solid #EBEBEB;
 border-right: 1px solid #EBEBEB;
 width:100%;
 background-color:rgb(0,53,126);
 padding-left: 2px;
 padding-right: 2px;
 padding-top: 2px;
 padding-bottom: 2px;
 font-family: Verdana;
 font-weight: bold;
 font-size: 8pt;
 color:#EBEBEB/*#666666*/;
 text-decoration: none;
 display:block;
}
td.list_link a:hover{
/*
 border-top: 1px solid #EBEBEB;
 border-bottom: 1px solid #EBEBEB;
 border-left: 1px solid #EBEBEB;
 border-right: 1px solid #EBEBEB;
*/
 border-top: 1px solid #808080;
 border-bottom: 1px solid #808080;
 border-left: 1px solid #808080;
 border-right: 1px solid #808080;
 width:100%;
 background-color:#cccccc;
 padding-left: 2px;
 padding-right: 2px;
 padding-top: 2px;
 padding-bottom: 2px;
 font-family: Verdana;
 font-weight: bold;
 font-size: 8pt;
 color: #666666;
 text-decoration: none;
  display:block;
}
td.list_header{
 background-color:rgb(0,53,126);/*rgb(192,192,192);*/
 /*
 border-left: thin solid rgb(192,192,192); 
 border-right: thin solid rgb(0,0,0); 
 border-top: thin solid rgb(192,192,192); 
 border-bottom: thin solid rgb(0,0,0);
 */
 padding-left: 2px;
 padding-right: 2px;
 padding-top: 2px;
 padding-bottom: 2px;
 width:100%;
 font-family: Verdana;
 font-weight: bold;
 font-size: 10pt;
 color:#cccccc;
 text-decoration: none;
 text-align: left;
}
td.list_header2{
 background-color:rgb(192,192,192);
 /*
 border-left: thin solid rgb(192,192,192); 
 border-right: thin solid rgb(0,0,0); 
 border-top: thin solid rgb(192,192,192); 
 border-bottom: thin solid rgb(0,0,0);
 */
 padding-left: 2px;
 padding-right: 2px;
 padding-top: 2px;
 padding-bottom: 2px;
 width:15%;
 font-family: Verdana;
 font-weight: bold;
 font-size: 10pt;
 color:#000000;
 text-decoration: none;
 text-align: left;
}

/* CSS for Broadband Modem page */
body.doc{
background-image: url("../images/bg.gif");
font-family: Verdana;
font-size:9pt;
}
td.field{
background-color:#ffffff;
color:#000000;
font-family:Verdana;
font-size:9pt;
padding:3px;
}
table.doc_table{
 background-color:rgb(0,53,126);
 border-top: 1px solid rgb(192,192,192);
 border-bottom: 1px solid rgb(192,192,192);
 border-left: 1px solid rgb(192,192,192);
 border-right: 1px solid rgb(192,192,192);
 width:100%;
}
td.doc_header{
 background-color:rgb(0,53,126);/*rgb(192,192,192);*/
 /*
 border-left: thin solid rgb(192,192,192); 
 border-right: thin solid rgb(0,0,0); 
 border-top: thin solid rgb(192,192,192); 
 border-bottom: thin solid rgb(0,0,0);
 */
 padding-left: 2px;
 padding-right: 2px;
 padding-top: 2px;
 padding-bottom: 2px;
 width:100%;
 font-family: Verdana;
 font-weight: bold;
 font-size: 10pt;
 color:#cccccc;
 text-decoration: none;
 text-align: left;
}
td.doc_header2{
 background-color:rgb(192,192,192);
 /*
 border-left: thin solid rgb(192,192,192); 
 border-right: thin solid rgb(0,0,0); 
 border-top: thin solid rgb(192,192,192); 
 border-bottom: thin solid rgb(0,0,0);
 */
 padding-left: 2px;
 padding-right: 2px;
 padding-top: 2px;
 padding-bottom: 2px;
 width:15%;
 font-family: Verdana;
 font-weight: bold;
 font-size: 10pt;
 color:#000000;
 text-decoration: none;
 text-align: left;
}

  /* Link parts for menus */
td.doc_link a{
 border-top: 1px solid #EBEBEB;
 border-bottom: 1px solid #EBEBEB;
 border-left: 1px solid #EBEBEB;
 border-right: 1px solid #EBEBEB;
 width:100%;
 background-color:#EBEBEB;
 padding-left: 2px;
 padding-right: 2px;
 padding-top: 2px;
 padding-bottom: 2px;
 font-family: Verdana;
 font-weight: bold;
 font-size: 8pt;
 color:rgb(0,53,126)/*#666666*/;
 text-decoration: none;
 display:block;
}
td.doc_link a:hover{
/*
 border-top: 1px solid #EBEBEB;
 border-bottom: 1px solid #EBEBEB;
 border-left: 1px solid #EBEBEB;
 border-right: 1px solid #EBEBEB;
*/
 border-top: 1px solid #808080;
 border-bottom: 1px solid #808080;
 border-left: 1px solid #808080;
 border-right: 1px solid #808080;
 width:100%;
 background-color:#cccccc;
 padding-left: 2px;
 padding-right: 2px;
 padding-top: 2px;
 padding-bottom: 2px;
 font-family: Verdana;
 font-weight: bold;
 font-size: 8pt;
 color: #666666;
 text-decoration: none;
  display:block;
}
/* end of CSS for Broadband Modem page */


table.list_table{
 border-top: 1px solid rgb(192,192,192);
 border-bottom: 1px solid rgb(192,192,192);
 border-left: 1px solid rgb(192,192,192);
 border-right: 1px solid rgb(192,192,192);
 width:100%;
}
td.list_content{
 border-top: 1px solid #EBEBEB;
 border-bottom: 1px solid #EBEBEB;
 border-left: 1px solid #EBEBEB;
 border-right: 1px solid #EBEBEB;
 width:100%;
 background-color:#EBEBEB;
 padding-left: 2px;
 padding-right: 2px;
 padding-top: 2px;
 padding-bottom: 2px;
 font-family: Verdana;
 font-weight: bold;
 font-size: 8pt;
 color:rgb(0,53,126)/*#666666*/;
 text-decoration: none;
 display:block;
}
td.list_content_normal{
 border-top: 1px solid #EBEBEB;
 border-bottom: 1px solid #EBEBEB;
 border-left: 1px solid #EBEBEB;
 border-right: 1px solid #EBEBEB;
 width:*%;
 background-color:#EBEBEB;
 padding-left: 2px;
 padding-right: 2px;
 padding-top: 2px;
 padding-bottom: 2px;
 font-family: Verdana;
 font-weight: normal;
 font-size: 8pt;
 color:#000000/*#666666*/;
 text-decoration: none;
 display:block;
}
td.list_title{
 border-top: 1px solid #EBEBEB;
 border-bottom: 1px solid #EBEBEB;
 border-left: 1px solid #EBEBEB;
 border-right: 1px solid #EBEBEB;
 width:25%;
 background-color:#EBEBEB;/*rgb(0,53,126)*/
 padding-left: 2px;
 padding-right: 2px;
 padding-top: 2px;
 padding-bottom: 2px;
 font-family: Verdana;
 font-weight: bold;
 font-size: 8pt;
 color:#000000/*#666666*/;
 text-decoration: none;
 display:block;
}

td.content_link a{
 border-top: 1px solid #EBEBEB;
 border-bottom: 1px solid #EBEBEB;
 border-left: 1px solid #EBEBEB;
 border-right: 1px solid #EBEBEB;
 width:100%;
 background-color:#EBEBEB;
 padding-left: 2px;
 padding-right: 2px;
 padding-top: 2px;
 padding-bottom: 2px;
 font-family: Verdana;
 font-weight: bold;
 font-size: 8pt;
 color:rgb(0,53,126)/*#666666*/;
 text-decoration: none;
 display:block;
}
td.content_link a:hover{
/*
 border-top: 1px solid #EBEBEB;
 border-bottom: 1px solid #EBEBEB;
 border-left: 1px solid #EBEBEB;
 border-right: 1px solid #EBEBEB;
*/
 border-top: 1px solid #808080;
 border-bottom: 1px solid #808080;
 border-left: 1px solid #808080;
 border-right: 1px solid #808080;
 width:100%;
 background-color:#cccccc;
 padding-left: 2px;
 padding-right: 2px;
 padding-top: 2px;
 padding-bottom: 2px;
 font-family: Verdana;
 font-weight: bold;
 font-size: 8pt;
 color: #666666;
 text-decoration: none;
  display:block;
}


td.level_header{
background-color:rgb(0,53,126);
color:#cccccc;
text-align:center;
}
/* yellow - notice */
td.1{
width:30%;
background-color:#ffff00;
color:#000000;
}
/* Green - all-clear */
td.4{
width:30%;
background-color:#339933;
color:#ffffff;
}
/* orange - caution */
td.2{
width:30%;
background-color:#ffcc00;
color:#000000;
}
/* Red - warning */
td.3{
width:30%;
background-color:#cc0000;
color:#ffffff;
}
/* Ontheboard message */
td.message{
width:100%;
background-color:#EBEBEB;
color:#000000;
}
p.note{
 background-color:#ffffcc;
 border-top: 1px solid #000000;
 border-bottom: 1px solid #000000;
 border-left: 1px solid #000000;
 border-right: 1px solid #000000;
 padding-left: 4px;
 padding-right: 4px;
 padding-top: 4px;
 padding-bottom: 4px;
 font-family: Verdana;
 font-weight: bold italics;
 font-size: 8pt;
}
p.caution{
 background-color:#FDBB6E;
 border-top: 1px solid #000000;
 border-bottom: 1px solid #000000;
 border-left: 1px solid #000000;
 border-right: 1px solid #000000;
 padding-left: 4px;
 padding-right: 4px;
 padding-top: 4px;
 padding-bottom: 4px;
 font-family: Verdana;
 font-weight: bold italics;
 font-size: 8pt;
}
p.warning{
 background-color:#FD7171;
 border-top: 1px solid #000000;
 border-bottom: 1px solid #000000;
 border-left: 1px solid #000000;
 border-right: 1px solid #000000;
 padding-left: 4px;
 padding-right: 4px;
 padding-top: 4px;
 padding-bottom: 4px;
 font-family: Verdana;
 font-weight: bold italics;
 font-size: 8pt;
}
p.ok{
 background-color:#009966;
 border-top: 1px solid #000000;
 border-bottom: 1px solid #000000;
 border-left: 1px solid #000000;
 border-right: 1px solid #000000;
 padding-left: 4px;
 padding-right: 4px;
 padding-top: 4px;
 padding-bottom: 4px;
 font-family: Verdana;
 font-weight: bold italics;
 font-size: 8pt;
 color:#000000;
}
td.date a{
 background-color:#cccccc;
 border-top: 1px solid #000000;
 border-bottom: 1px solid #000000;
 border-left: 1px solid #000000;
 border-right: 1px solid #000000;
 padding-left: 5px;
 padding-right: 5px;
 padding-top: 5px;
 padding-bottom: 5px;
 font-family: Verdana;
 font-weight: bold italics;
 font-size: 9pt;
}
td.date a:hover{
 background-color:#999999;
 border-top: 1px solid #000000;
 border-bottom: 1px solid #000000;
 border-left: 1px solid #000000;
 border-right: 1px solid #000000;
 padding-left: 5px;
 padding-right: 5px;
 padding-top: 5px;
 padding-bottom: 5px;
 font-family: Verdana;
 font-weight: bold italics;
 font-size: 9pt;

}
td.date_content{
 border-top: 1px solid #EBEBEB;
 border-bottom: 1px solid #EBEBEB;
 border-left: 1px solid #EBEBEB;
 border-right: 1px solid #EBEBEB;
 width:100%;
 background-color:#EBEBEB;
 padding-left: 2px;
 padding-right: 2px;
 padding-top: 2px;
 padding-bottom: 2px;
 font-family: Verdana;
 font-weight: bold;
 font-size: 8pt;
 color:rgb(0,53,126)/*#666666*/;
 text-decoration: none;
}
input.clock{
background-color:#EBEBEB;
color:rgb(0,53,126)/*#666666*/;
}