/* ./newdesign/css/main.css  by Clayton Barnette 11-05-03 */

/*import content css*/
@import url("content.css");

/* Main table for all content, to help maintain table width, height is variable. */
table.main{
 width:100%;
 height:100%;
}

/* Top Toolbars left, center, right */
td.left_top_toolbar{
/*

border-right: thin solid rgb(0,0,0); 
*/
border-left: thin solid rgb(192,192,192);
border-top:thin  solid rgb(192,192,192); 
border-bottom: thin solid rgb(192,192,192); 
width:175px;
height:21px;
background-color: rgb(0,53,126);/*#808080*/
font-family: Verdana;
font-weight: bold;
font-size: 8pt;
color:#cccccc;
text-align: center;
}
td.center_top_tooblar{
/*
border-left: thin solid rgb(192,192,192); 
border-right: thin solid rgb(0,0,0); 
*/
border-top:thin solid rgb(192,192,192); 
border-bottom: thin solid rgb(192,192,192);
width:85%;
height:21px;
background-color: rgb(0,53,126);/*#808080*/
font-family: Verdana;
font-weight: bold;
font-size: 7pt;
color: #ffffff;
text-align: left;
padding-left:4px;
}
td.right_top_toolbar{
/*
border-left: thin solid rgb(192,192,192);
*/
border-right: thin solid rgb(192,192,192); 
border-top:thin  solid rgb(192,192,192); 
border-bottom: thin solid rgb(192,192,192);
width:12%; 
height:21px;
background-color: rgb(0,53,126);/*#808080*/
font-family: Verdana;
font-weight: bold;
font-size: 7pt;
color: #ffffff;
text-align: left;
}

/* Bottom toolbars left, center, right */
td.left_bottom_toolbar{
/*

border-right: thin solid rgb(0,0,0); 
*/
border-left: thin solid rgb(192,192,192);
border-top: thin solid rgb(192,192,192); 
border-bottom: thin solid rgb(192,192,192); 
width:175px;
height:18px;
background-color: rgb(0,53,126);/*#808080*/
font-family: Verdana;
font-weight: normal;
font-size: 7pt;
color:#ffffff;
text-align: left;
}
td.center_bottom_tooblar{
/*
border-left: thin solid rgb(192,192,192); 
border-right: thin solid rgb(0,0,0); 
*/
border-top: thin solid rgb(192,192,192); 
border-bottom: thin solid rgb(192,192,192);
width:85%;
height:18px;
background-color: rgb(0,53,126);/*#808080*/
font-family: Verdana;
font-weight: normal;
font-size: 7pt;
color: #cccccc;
text-align: center;
padding-left: 15px;
}
td.right_bottom_toolbar{
/*
border-left: thin solid rgb(192,192,192);

*/
border-right: thin solid rgb(192,192,192); 
border-top: thin solid rgb(192,192,192); 
border-bottom: thin solid rgb(192,192,192);
width:12%; 
height:18px;
background-color: rgb(0,53,126);/*#808080*/
font-family: Verdana;
font-weight: normal;
font-size: 7pt;
color: #ffffff;
text-align: left;
}

/* 
menu: is the left menu for navigation
content: main content area
sidebar: right sidebar menu for extra content 
*/
/* Main menu on the left */
td.menu{
/*
padding-top: 5px;
padding-bottom: 10px;
padding-left: 2px;
padding-right: 2px;
*/
border-left: 1px solid rgb(192,192,192); 
border-right: 1px solid rgb(192,192,192);
background-color:#EBEBEB;
width:175px;
height:100%;
font-family: Verdana;
font-weight: normal;
font-size: 8pt;
color: #000000;
text-align: left;
} 

/* Main Content Window in middle*/
td.content{
/* background: url("")
background-attachment: fixed; 
background-repeat: no-repeat;
background-color: #FFFFFF;
*/
background-color:EBEBEB;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 15px;
background-color: #ffffff;
width:85%; 
height: 100%;
font-family: Verdana;
font-weight: normal;
font-size: 9pt;
color: #000000;
text-align: left;
}

/* Sidebar */
td.sidebar{ 
padding-left: 5px;
padding-right: 5px;
padding-top: 5px;
padding-bottom: 5px;
border-left: 1px solid rgb(192,192,192); 
border-right: 1px solid rgb(192,192,192);
background-color: #FFFFFF;
width:12%; 
height:100%;
font-family: Verdana;
font-weight: normal;
font-size: 8pt;
color: #000000;
text-align: center;
}

/* Menu table cells */
td.left_menu a{
 border-top: 1px solid #EBEBEB;
 border-bottom: 1px solid rgb(192,192,192);
 border-left: 1px solid #EBEBEB;
 border-right: 1px solid #EBEBEB;
 background-color:#EBEBEB;
 padding-left: 1px;
 padding-right: 1px;
 padding-top: 2px;
 padding-bottom: 2px;
 width:175px;
 font-family: Verdana;
 font-weight: bold;
 font-size: 8pt;
 color:rgb(0,53,126)/*#666666*/;
 text-decoration: none;
 display:block;
}
td.left_menu a:hover{
 border-top: 1px solid #808080;
 border-bottom: 1px solid #808080;
 border-left: 1px solid #808080;
 border-right: 1px solid #808080;
 background-color: #cccccc/*rgb(0,53,127)*/;
 padding-left: 1px;
 padding-right: 1px;
 padding-top: 2px;
 padding-bottom: 2px;
 width:175px;
 font-family: Verdana;
 font-weight: bold;
 font-size: 8pt;
 color:#666666/*#ffffff*/;
 text-decoration: none;
 display:block;
}
td.left_menu_header{
 background-color:rgb(0,53,126);/*rgb(192,192,192);*/
 /*
 border-left: thin solid rgb(192,192,192); 
 border-right: thin solid rgb(0,0,0); 
 border-top: thin solid rgb(192,192,192); 
 border-bottom: thin solid rgb(0,0,0);
 */
 padding-left: 1px;
 padding-right: 1px;
 padding-top: 2px;
 padding-bottom: 2px;
 width:175px;
 font-family: Verdana;
 font-weight: bold;
 font-size: 9pt;
 color:#cccccc;
 text-decoration: none;
 text-align: center;
}


/* hyperlinks  for toolbar at top, and mailto link at bottom */
a.link{
font-family: Verdana;
font-weight: bold;
font-size: 8pt;
color: #cccccc;
text-decoration: none;
}
a.link:hover{
font-family: Verdana;
font-weight: bold;
font-size: 8pt;
color:#ffffff;
text-decoration: none;
}

