A:link{
text-decoration: none;
color:#003399;
} 

A:active{
text-decoration: none;
color:#003399;
}

A:visited{
text-decoration: none;
color:#003399;
} 

A:hover{
text-decoration: underline;
color:red;
}

body{
background-image: url("../images/bg.gif");
font-family:Arial;
font-size:9pt;
}

table.main{
border-style: solid;
border-width: 0px;
background-color: rgb(0,53,126);
}


td.heading{
color:#000000;
font-family:Arial;
font-size:9pt;
background-color:#cccccc;
padding:2px;
}

td.field{
background-color:#ffffff;
color:#000000;
font-family:Arial;
font-size:9pt;
padding:3px;
}

td.undone{
background-color: #999999;
color:#000000;
font-family:Arial;
font-size:9pt;
padding:3px;
}

td.master{
color:#cccccc;
font-family:Arial;
font-size:9pt;
font-weight:bold;
background-color:#003399;
padding:2px;
text-align:center;
}
td.master2{
color:#ffffff;
font-family:Arial;
font-size:9pt;
font-weight:bold;
background-color:#003399;
padding:2px;
}

td.provider{
padding: 5px;
}

p.warning{
color:red;
}

input.edit{
color:#003399;
width:130px;
font-weight:bold;
font-size:8pt;
}
a.licensee{
font-size:12px;
}
a.licensee:hover{
font-size:12px;
font-weight:bold;
}
div.content{
margin-left:25px;
font-size:12px;
}
b.heading{
font-size:14px;
}

td.infohd{
font-weight:bold;
font-family:Arial;
font-size:9pt;
border-style:none none solid none;
border-width:1px;
border-color:#c0c0c0;
background-color:#c0c0c0;
/*width:20px;*/
}

td.infohd2{
font-weight:normal;
font-family:Arial;
font-size:9pt;
border-style:none none solid none;
border-width:1px;
border-color:#c0c0c0;
background-color:#c0c0c0;
/*width:20px;*/
}


td.infotxt{
font-family:Arial;
font-size:9pt;
}
td.infoline{
font-family:Arial;
font-size:9pt;
border-style:none none solid none;
border-width:1px;
border-color:#c0c0c0;
}
.ul{
font-family:Arial;
font-size:9pt;
}
.ol{
font-family:Arial;
font-size:9pt;
}

